@font-face {
  font-family: Ubuntu;
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
 font-weight: 300;
 font-style: italic;
 src: url('./fonts/Ubuntu-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
 font-weight: 400;
 font-style: normal;
 src: url('./fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
 font-weight: 400;
 font-style: italic;
 src: url('./fonts/Ubuntu-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
 font-weight: 500;
 font-style: normal;
 src: url('./fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
 font-weight: 500;
 font-style: italic;
 src: url('./fonts/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
 font-weight: 700;
 font-style: normal;
 src: url('./fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
 font-weight: 700;
 font-style: italic;
 src: url('./fonts/Ubuntu-BoldItalic.ttf') format('truetype');
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

:root {
  --accent-color: #373AF5;
  --secondary-color: #8083A4;
  --basestrong-color: #2C2D76;
  --critic-color: #E5596D;
  --baseweak-color: #FFFFFF;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.page {
  background-color: var(--accent-color);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.page::before,
.page::after {
  content: "";
  display: block;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.page::before {
  background-position: bottom left;
  background-image: url(./images/forecast-Bg-buttom@2x.png);
}

.page::after {
  background-position: top right;
  background-image: url(./images/forecast-Bg-up.png);
}

.header {
  padding: 65px 0 75px 0;
  max-width: 825px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.header__text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: var(--baseweak-color);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 102px;
  line-height: 91px;
}

.header__title {
  display: block;
}

.header__title_left {
  margin-left: calc(-50% + 55px);
}

.header__title_right {
  margin-left: calc(50% - 45px);
}

.content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.forecast {
  background-color: var(--baseweak-color);
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  padding: 50px 58px 48px 58px;
  max-width: 660px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  z-index: 1;
  position: relative;
}

.forecast-past {
  margin-left: 34px;
}

.forecast__title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 32px 0;
  color: var(--basestrong-color);
}

.forecast__text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-color);
  text-align: center;
}

.forecast__result {
  text-align: center;
  margin-top: 54px;
}


.forecast__result_empty {
  margin-top: 63px;
  margin-bottom: 42px;
}

.forecast__img {
  width: 160px;
  height: 160px;
  margin: 10px auto 25px;
  display: block;
}

.forecast__select,
.forecast__input {
  color: var(--secondary-color);
  background: rgba(128, 131, 164, 0.06);
  border: 2px solid rgba(128, 131, 164, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 16px;
  max-width: 252px;
  width: 100%;
  outline: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  max-height: 48px;
  height: 100%;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  margin-top: 0;
  position: relative;
}

.forecast__select::after {
  content: "";
  display: block;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 14px;
  right: 16px;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.forecast__select::after {
  background-image: url(./images/chevron-bottom.svg);
}

/*.forecast__calendar-icon{
  background-image: url(./images/calendar.svg);
  z-index: 2;
  top: 16px;
  display: block;
  width: 46px;
  height: 46px;
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  z-index: 3;
  cursor: pointer;
  top: 0;
  background-position: 50% 50%;
}*/

.forecast__select-up::after {
  transform: rotate(180deg);
  top: 13px;
  right: 14px;
}

.forecast__select.forecast__select-open::after {
  transform: rotate(180deg);
}

.forecast__select::placeholder,
.forecast__input::placeholder {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  max-height: 48px;
  color: var(--secondary-color);
}

.forecast__cities {
  margin: 0;
  position: absolute;
  top: 0;
  list-style-type: none;
  padding: 0;
  background: #FFFFFF;
  border: 2px solid rgba(128, 131, 164, 0.06);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(4, 5, 73, 0.16), 14px 14px 20px rgba(5, 6, 114, 0.08);
  border-radius: 8px;
  padding: 6px;
  width: 100%;
  max-width: 233px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basestrong-color);
  max-height: 142px;
  height: auto;
  overflow-y: scroll;
  top: 60px;
  left: 0px;
  scrollbar-width: thin;
  scrollbar-color: var(--basestrong-color)  var(--baseweak-color);
  z-index: 3;
  box-sizing: content-box;
}

.forecast__cities::-webkit-scrollbar {
  width: 4px;
}

.forecast__cities::-webkit-scrollbar-track {
  background: var(--baseweak-color);
}

.forecast__cities::-webkit-scrollbar-thumb {
  background-color: var(--basestrong-color);
  opacity: 0.4;
  border-radius: 38px;
  height: 28px;
  width: 4px;
}

.forecast__cities li {
  padding: 6px 10px;
}

.forecast__cities li:hover {
  background: rgba(128, 131, 164, 0.06);
  border-radius: 8px;
  cursor: pointer;
}

.forecast__select span {
  width: 100%;
  display: inline-block;
  z-index: 1;
  position: relative;
}

.forecast__select:hover,
.forecast__input:hover {
  border: 2px solid #8083A4;
}

.forecast__select:focus,
.forecast__input:focus {
  color: var(--basestrong-color);
}

.forecast__select:active,
.forecast__input:active {
  border: 2px solid #373AF5;
}

.forecast__calendar:hover::after {
  opacity: 0.6;
}

.forecast__calendar:active::after,
.forecast__calendar:focus::after {
  opacity: 1;
}

.forecast__result_full {
  background-color: var(--accent-color);
  border: 2px solid #373AF5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25);
  border-radius: 8px;
  padding: 20px;
  min-height: 240px;
}

.forecast-past .forecast__result_full {
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
}

.forecast__inputs > div {
  width: 252px;
  position: relative;
}

.forecast__inputs {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.forecast__calendar {
}

.forecast__date,
.forecast__temp {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  color: var(--baseweak-color);
  margin: 0;
  padding: 0;
}

.forecast__date {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.forecast__temp {
  font-size: 32px;
  line-height: 24px;
  text-align: right;
  margin-top: 0px;
}

.slider {
  overflow: hidden;
  position: relative;
  padding-left: 26px;
  margin-left: -28px;
  padding-right: 23px;
  margin-right: -30px;
  margin-bottom: 0;
}

.slider__inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
  padding: 0px 0 20px 0;
  margin-bottom: 0px;
}

.slider__left,
.slider__right {
  background-image: url(./images/chevron-left.svg);
  display: block;
  width: 31px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  margin-left: -31px;
  z-index: 1;
  height: 100%;
  background-position-x: 0px;
  background-color: white;
  background-position-y: calc(50% + 10px);
  border:  0;
}

.slider__right::after {
  content: '';
  height: 100%;
}

.slider__right {
  transform: rotate(180deg);
  left: 100%;
  background-position-y: calc(50% - 10px);
  transform-origin: center;
  margin-left: -28px;
}

.slider .forecast__result_full {
  width: 174px;
  flex: 0 0 auto;
  margin-right: 10px;
}

.slider .forecast__img,
.forecast-past .forecast__result:not(.forecast__result_empty) .forecast__img  {
  width: 120px;
  height: 120px;
  margin: 15px auto 15px;
}

.footer {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--baseweak-color);
  opacity: 0.6;
  margin-top: 199px;
  padding-bottom: 16px;
  text-align: center;
  z-index: 1;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1354px) {
 
  .content {
    flex-direction: column;
  }

  .forecast {
    margin: 0 auto;
  }

  .forecast-past {
    margin-top: 34px;
  }

  .footer {
    margin-top: 46px;
  }

  .header {
    padding-bottom: 82px;
  }
}

@media (min-width: 991px) and (max-width: 992px) {
  .forecast {
    margin: 0 auto;
  }

  .forecast-past {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 33px 0 24px 0;
  }

  .header__title {
    font-size: 32px;
    line-height: 32px;
  }

  .forecast {
    padding: 32px 24px 45px 24px;
  }

  .forecast-past {
    margin-left: 0;
    margin-top: 10px;
  }

  .header__title {
    margin-left: calc(-50% + 17px);
  }

  .header__title_right {
    margin-left: calc(50% - 17px);
  }

  .forecast__select, .forecast__input {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .forecast__inputs > div {
    width: 100%;
  }

  .forecast__input {
    margin-bottom: 23px;
  }

  .forecast__img {
    margin: 10px auto 24px;
  }

  .forecast__result_full {
    margin-top: 7px;
  }

  .footer {
    margin-top: 78px;
  }

  .header {
    max-width: 260px;
  }

  .page::before {
    background-image: url(./images/forecast-Bg-buttom.png);
  }

  .page::after {
    background-image: url(./images/forecast-Bg-up-1.png);
  }

  .forecast__temp {
    margin-top: -2px;
  }

  .forecast__cities {
    width: 100%;
  }

  .forecast__result_empty {
    margin-top: 0px;
    margin-bottom: 17px;
  }

  .slider {
    margin-left: 0;
    margin-right: 10px;
  }

  .slider__inner {
    padding-bottom: 7px
  }

  .slider__left {
    background-position-y: calc(50% - 5px);
  }

  .slider__right {
    background-position-y: calc(50% + 5px);
  }
}

@media (max-width: 767px) {
 
  .forecast {
    max-width: calc(100% - 20px);
  }

  .slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    margin-left: -24px;
    margin-right: -24px;
    padding: 0;
  }

  .slider > div {
    scroll-snap-align: start;
  }

  .slider .forecast__result_full:nth-child(1) {
    margin-left: 24px;
  }

  .slider .forecast__result_full:last-child {
    margin-right: 24px;
  }

  .slider__inner {
    margin-left: 0!important;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--basestrong-color)  var(--baseweak-color);
  }

  .slider__inner::-webkit-scrollbar {
    height: 4px;
  }

  .slider__inner::-webkit-scrollbar-track {
    background: var(--baseweak-color);
  }

  .slider__inner::-webkit-scrollbar-thumb {
    background-color: var(--basestrong-color);
    opacity: 0.4;
    border-radius: 38px;
    height: 28px;
    width: 4px;
  }

  .slider .forecast__result_full {
    width: 174px;
    flex: 0 0 auto;
  }

  .slider__left, .slider__right {
    display: none;
  }
}